/* .parent-div{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    gap: 20px;
    background-color:#F9F6E2 ;
}
.summer-immage{
    width: 75%;
    margin: auto;
}
.promo-div{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.text-div{
    margin-top: 90px;
    margin-left: 60px;
}
#off{
    color: brown;
} */